{% extends 'main/home.html' %}
{% block content %}
<div class="order-list-div">
    <form method="POST">
        {% csrf_token %}
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Wybierz</th>
                    <th>Tytuł</th>
                    <th>Nadawca</th>
                    <th>Data i godzina dostarczenia</th>
                </tr>
                </thead>
                <tbody>
                {% for order in form.orders.field.queryset %}
                <tr>
                    <td>
                        <input type="checkbox" name="{{ form.orders.html_name }}" value="{{ order.pk }}"
                               id="id_orders_{{ forloop.counter0 }}"
                               {% if order in form.orders.value %}
                               checked {% endif %}>

                    </td>
                    <td>{{ order.message.title }}</td>
                    <td>
                        {% for response in last_responses %}
                            {% if response.order_id == order.id %}
                                {{ response.last_response_user }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ order.date }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            {{ form.constructor.label_tag }}{{ form.constructor }}
        </div>
        <button type="submit">Przekaż</button>
    </form>
</div>
<div class="message-preview">
    ggeege
</div>
{% endblock %}
