        body{
        margin: 0;
        padding: 0;
        }

        .item-div{
        float: left;
        border: solid;
        border-color: black;
        border-width: 1px;
        margin-top: 30px;
        margin-left: 30px;a
        width: 300px;
        vertical-align: top;
        display: inline-block;
        box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        font-family: Roboto;
        position: relative; /* Added position */
        }
        .product-image{
        width: 300px;

        }
        .left-navigation-bar{
        display: inline-block;
        }
        html, body {
        height: 100%;
        }
        .nav-wrapper {
        float: left;
        display: inline-block;
        vertical-align: top;
        background-color: rgb(89, 103, 110);
        height: 100%;
        width: 150px;
        box-shadow: 10px 0px 10px -10px rgba(0, 0, 0, 0.5);
        }
        .header{
        text-align: center;
        height: 100px;
        border: solid;
        border-width: 1px;
        border-color: grey;

        }
        .left-navigation-bar-options{
        text-align: left;
        padding-left: 30px;
        font-size: 20px;
        text-decoration: none;

        }
        .filtering-options{
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        color: white;
        }
        .filtering-options:hover{
        text-decoration: underline;
        }
        .main-page-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family:
        text-align: center;
        background-color: rgb(69, 78, 82);
        padding: 20px;
        box-shadow: 0 10px 10px -10px rgba(0,0,0,0.5);
        }
        .main-page-text{
        text-align: center;
        font-family: Arial;
        font-size: 40px;
        padding-top: 25px;
        }
        .shop-name{
        color: white;
        font-family: Arial;
        font-weight: bold;
        font-size: 40px;
        text-decoration: none;
        margin-right: auto;

        }
         .link-to-main-page{
        font-family: Arial;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        }
        .links{
        text-decoration: none;
        color: green;
        }
        .links:hover{
        transition: text-decoration 0.15s;
        text-decoration: underline;
        }
        .item-name{
        font-weight: bold;
        }

        .message{
        font-size: 50px;
        color: red;
        font-family: Roboto;
        font-weight: bold;
        }

        .your_order{
        font-size: 25px;
        color: green;
        font-family: Roboto;
        font-weight: bold;
        }

        .tag-checkboxes {
        display: inline-block;
        margin-right: 10px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        margin-top: 7px;
        }

        .tag-checkboxes input[type="checkbox"] {
            margin-right: 5px;
        }

