{%extends 'shop/home.html'%}

{%block navbar%}
{%endblock%}
{%block content%}
    {%if cart_items%}
        <div class="cart_container_wrapper">

            <div class="cart_container">
                <form method="post">

                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="buy-button2" type="submit">
                        Submit order
                    </button>
                </form>
            </div>
        </div>
    {%else%}
    <p>You don't have any items in cart</p>
    {%endif%}
{%endblock%}
