{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>
<div class = "main-page-header">
    <a class = "shop-name" href="{% url 'main' %}">Our shop</a>
</div>
<div class = "nav-wrapper">
        <div class = "left-navigation-bar-options">
        <p><a href="{% url 'home' %}">Home</a></p>
        <p><a href="{% url 'men' %}">Mężczyzna</a></p>
        <p><a href="{% url 'woman' %}">Kobieta</a></p>
        </div>
</div>
{%block products%}
{%endblock%}
{%block content%}
{%endblock%}
</body>
</html>