{%extends 'shop/home.html'%}
{%block content%}


{%for item in items%}
<div class="item-div">
    <img class="product-image" src="{{item.pic.url}}">

    <div class="item-name">
        <p>{{item.name}}</p>
    </div>
    <div class="item-price"><p>{{item.price}}zł</p>
    </div>

    <div class="item-description">
        <p>{{item.description}}</p>
    </div>
    <a href="{%url 'buy' item.id %}">
        <button class='buy-button'>

            Buy
        </button>
    </a>
</div>
{%endfor%}

{%endblock%}